<mtapp:setting id="clans" label="<__trans phrase="List of Clans">"
    hint="<__trans phrase="Enter the clans to be supported, comma delimited">" show_hint=1>
    <input type="text" name="clans" id="clans"
        value="<mt:Var name="clans" escape="html">" />
</mtapp:setting>
